{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- Main Skills Section -->
        <section class="skill-section" id="skill">
            <div class="container">
                <h2>Skills & Tech Stack</h2>

                <div class="category-filters">
                    {% for slug, label in categories %}
                        <a href="?cat={{ slug }}" 
                        class="filter-pill {% if selected_category == slug %}active{% endif %}">
                            {{ label }}
                        </a>
                    {% endfor %}
                    <a href="{% url 'main:create_skill' %}"
                        class="filter-pill create-skill-pill">
                            <span aria-hidden="true">+</span>
                            Tambah Skill
                        </a>
                </div>
                
                <div class="bento-grid">
                    {% for skill in skills_list %}
                        <div class="bento-card">
                            {% include "components/skill_delete_modal.html" with skill=skill %}

                            <div class="card-header">
                                <img 
                                    src="{{ skill.icon_path }}" 
                                    alt="{{ skill.title }} logo" 
                                    class="skill-icon-svg"
                                />
                            </div>
                            <div class="card-body">
                                <h3>{{ skill.title }}</h3>
                                {% if skill.description %}
                                    <p>{{ skill.description }}</p>
                                {% endif %}
                            </div>
                        </div>

                    {% empty %}
                        <div class="empty-skill-state">
                            <div class="empty-skill-icon">📦</div>
                            <h3>No Skills Found</h3>
                            <p>Add skills from Django Admin Dashboard</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    </main>
{% endblock content %}
